build
*.npy
*.dat
*.pkl
*.so
*.o
*.old
*.pyc
*.swp
*.ai
*.swo
*.sw*
*.pdf
*.png
tmp.png
*.sync-conflict*
toolbox
.DS_Store
sci/
thesis/
scratch/
*.out
archive/
data/
.ipynb_checkpoints/
output/
logs/
.gitold
